<%-include("../layout/adminheader.ejs")%>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0 text-danger">Order # <%= order._id %>
                                    </h5>
                                    <!-- <div class="flex-shrink-0">
                                        <a href="#" onclick="downloadInvoice('<%= order._id %>')"
                                            class="btn btn-success btn-sm" id="downloadInvoiceBtn"
                                            data-order-id="<%= order._id %>">
                                            <i class="ri-download-2-fill align-middle me-1"></i> Invoice
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-card">
                                    <table class="table table-nowrap align-middle table-borderless mb-0">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th scope="col">Product Details</th>
                                                <th scope="col">Item Price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col" class="text-end">Total Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <input id="Orderdetials" type="hidden" value="<%=order._id%>">

                                            <% order.products.forEach(function(product) { %>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="flex-shrink-0 avatar-md bg-light rounded p-1">
                                                                <img src="/productimages/<%= product.image[0] %>" alt=""
                                                                    class="img-fluid d-block">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">
                                                                <h5 class="fs-15"><a href="#" class="link-primary">
                                                                        <%= product.p_name %>
                                                                    </a></h5>
                                                                <% product.category.forEach(function(category) { %>
                                                                    <p class="text-muted mb-0">
                                                                        <%= category %>
                                                                    </p>
                                                                    <% }) %>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <%= product.price %>
                                                    </td>
                                                    <td>
                                                        <%= product.quantity %>
                                                    </td>
                                                    <td class="fw-medium text-end">
                                                        ₹<%= product.price * product.quantity %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <tr class="border-top border-top-dashed">
                                                        <td colspan="3"></td>
                                                        <td colspan="2" class="fw-medium p-0">
                                                            <table class="table table-borderless m-0">
                                                                <tbody>
                                                                    <tr class="border-top border-top-dashed">
                                                                        <th scope="row">Total :</th>
                                                                        <th class="text-end">₹<%= order.payment.amount
                                                                                %>
                                                                        </th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                        <div class="card">
                            <div class="card-header">
                                <div class="d-sm-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Order Status</h5>
                                    <!-- <div class="flex-shrink-0 mt-2 mt-sm-0"><a href="#"
                                            class="btn btn-soft-info btn-sm mt-2 mt-sm-0 shadow-none return-order-btn"
                                            data-order-id="<%= order._id %>"><i
                                                class="ri-map-pin-line align-middle me-1"></i> Return</a>
                                        <a href="#"
                                            class="btn btn-soft-danger btn-sm mt-2 mt-sm-0 shadow-none cancel-order-btn"
                                            data-order-id="<%= order._id %>"><i
                                                class="mdi mdi-archive-remove-outline align-middle me-1"></i> Cancel
                                            Order
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="profile-timeline">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item border-0">
                                            <div class="accordion-header" id="headingOne">
                                                <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                                                    href="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 avatar-xs">
                                                            <div class="avatar-title bg-success rounded-circle shadow">
                                                                <i class="ri-shopping-bag-line"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="fs-15 mb-0 fw-semibold"><%= order.status%> - <span
                                                                    class="fw-normal">
                                                                    <%= order.createdAt.toLocaleDateString()%>
                                                                </span>
                                                                <input id="createdAt" type="hidden"
                                                                    value="<%= order.createdAt.toLocaleDateString()%>">

                                                            </h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- <div id="collapseOne" class="accordion-collapse collapse show"
                                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body ms-2 ps-5 pt-0">
                                                    <h6 class="mb-1">An order has been placed.</h6>
                                                    <p class="text-muted">Wed, 15 Dec 2021 - 05:34PM</p>

                                                    <h6 class="mb-1">Seller has proccessed your order.</h6>
                                                    <p class="text-muted mb-0">Thu, 16 Dec 2021 - 5:48AM</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item border-0">
                                            <div class="accordion-header" id="headingTwo">
                                                <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                                                    href="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 avatar-xs">
                                                            <div class="avatar-title bg-success rounded-circle shadow">
                                                                <i class="mdi mdi-gift-outline"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="fs-15 mb-1 fw-semibold">Packed - <span
                                                                    class="fw-normal">Thu, 16 Dec 2021</span></h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div id="collapseTwo" class="accordion-collapse collapse show"
                                                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                <div class="accordion-body ms-2 ps-5 pt-0">
                                                    <h6 class="mb-1">Your Item has been picked up by courier patner</h6>
                                                    <p class="text-muted mb-0">Fri, 17 Dec 2021 - 9:45AM</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item border-0">
                                            <div class="accordion-header" id="headingThree">
                                                <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                                                    href="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 avatar-xs">
                                                            <div class="avatar-title bg-success rounded-circle shadow">
                                                                <i class="ri-truck-line"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="fs-15 mb-1 fw-semibold">Shipping - <span
                                                                    class="fw-normal">Thu, 16 Dec 2021</span></h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="accordion-collapse collapse show"
                                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body ms-2 ps-5 pt-0">
                                                    <h6 class="fs-14">RQK Logistics - MFDS1400457854</h6>
                                                    <h6 class="mb-1">Your item has been shipped.</h6>
                                                    <p class="text-muted mb-0">Sat, 18 Dec 2021 - 4.54PM</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item border-0">
                                            <div class="accordion-header" id="headingFour">
                                                <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                                                    href="#collapseFour" aria-expanded="false">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 avatar-xs">
                                                            <div
                                                                class="avatar-title bg-light text-success rounded-circle shadow">
                                                                <i class="ri-takeaway-fill"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="fs-14 mb-0 fw-semibold">Out For Delivery</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="accordion-item border-0">
                                            <div class="accordion-header" id="headingFive">
                                                <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                                                    href="#collapseFile" aria-expanded="false">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 avatar-xs">
                                                            <div
                                                                class="avatar-title bg-light text-success rounded-circle shadow">
                                                                <i class="mdi mdi-package-variant"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="fs-14 mb-0 fw-semibold">Delivered</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!--end accordion-->
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-xl-3">

                        <!--end card-->

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex">
                                    <h5 class="card-title flex-grow-1 mb-0">Customer Details</h5>
                                    <!-- <div class="flex-shrink-0">
                                        <a href="javascript:void(0);" class="link-secondary">View Profile</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-0 vstack gap-3">
                                    <li>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <img src="/assets/images/users/avatar-3.jpg" alt=""
                                                    class="avatar-sm rounded shadow">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6 class="fs-14 mb-1">
                                                    <%= order.userId.name %>
                                                </h6>
                                                <p class="text-muted mb-0">Customer</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li><i class="ri-mail-line me-2 align-middle text-muted fs-16"></i>
                                        <%= order.userId.email %>
                                    </li>
                                    <li><i class="ri-phone-line me-2 align-middle text-muted fs-16">
                                            <%= order.userId.number %>
                                                <input id="number" type="hidden" value="<%= order.userId.number %>">


                                        </i></li>
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0"><i class="ri-map-pin-line align-middle me-1 text-muted"></i>
                                    Billing Address</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                    <li class="fw-medium fs-14">
                                        <%= address.name %>
                                            <input id="AddressName" type="hidden" value="<%= address.name %>">
                                    </li>
                                    <li>
                                        <%= address.addressline %>
                                            <input id="housename" type="hidden" value="<%= address.addressline %>">

                                    </li>
                                    <li>
                                        <%= address.street %>
                                            <input id="street" type="hidden" value="<%= address.street %>">

                                    </li>
                                    <li>
                                        <%= address.city %> - <%= address.postCode %>
                                                <input id="city" type="hidden" value="<%= address.city %>">
                                                <input id="postcode" type="hidden" value="<%= address.postCode %>">

                                    </li>
                                    <li>
                                        <%= address.country %>
                                            <input id="country" type="hidden" value="<%= address.country %>">
                                    </li>
                            </div>
                        </div>
                        <!--end card-->


                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0"><i
                                        class="ri-secure-payment-line align-bottom me-1 text-muted"></i> Payment Details
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="flex-shrink-0">
                                        <p class="text-muted mb-0">Transactions:</p>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <h6 class="mb-0">#VLZ124561278124</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="flex-shrink-0">
                                        <p class="text-muted mb-0">Payment Method:</p>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <h6 class="mb-0">
                                            <%= order.payment.method %>
                                                <input id="paymentmethod" type="hidden"
                                                    value="<%= order.payment.method %>">

                                        </h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="flex-shrink-0">
                                        <p class="text-muted mb-0">Card Holder Name:</p>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <h6 class="mb-0">
                                            <%= order.userId.name %>
                                        </h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="flex-shrink-0">
                                        <p class="text-muted mb-0">Card Number:</p>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <h6 class="mb-0">xxxx xxxx xxxx 2456</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <p class="text-muted mb-0">Total Amount:</p>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <h6 class="mb-0">₹<%= order.payment.amount %>
                                                <input id="paymentamount" type="hidden"
                                                    value="<%= order.payment.amount %>">
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <!-- Add this code wherever you want to display the modal -->
                <div class="modal" id="cancelOrderModal" tabindex="-1" role="dialog"
                    aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelOrderModalLabel">Order Cancelled</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Your order has been cancelled successfully.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- container-fluid -->
        </div><!-- End Page-content -->

    </div>
    <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <%-include("../layout/adminFooter.ejs")%>