<%-include("../layout/adminheader.ejs")%>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Coupons</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/admin/Dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Coupons</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card"  id="category list">
                                <div class="card-header border-bottom-dashed">

                                    <div class="row g-4 align-items-center">
                                        <div class="col-sm">
                                            <div>
                                                <h5 class="card-title mb-0">Coupons List</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-auto">
                                            <div class="d-flex flex-wrap align-items-start gap-2">
                                                <button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                                <button  type="button"  class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"   data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Add Coupons</button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border-bottom-dashed border-bottom">
                                    <form>
                                        <div class="row g-3">
                                            <div class="col-xl-6">
                                                <div class="search-box">
                                                    <input type="text" class="form-control search" placeholder="Search for customer, email, phone, status or something...">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xl-6">
                                                <div class="row g-3">
                                                    <div class="col-sm-4">
                                                        <div class="">
                                                            <input type="text" class="form-control" id="datepicker-range" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" placeholder="Select date">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-sm-4">
                                                        <div>
                                                            <select class="form-control" data-plugin="choices" data-choices data-choices-search-false name="choices-single-default" id="idStatus">
                                                                <option value="">Status</option>
                                                                <option value="all" selected>All</option>
                                                                <option value="Active">Active</option>
                                                                <option value="Block">Block</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--end col-->

                                                    <div class="col-sm-4">
                                                        <div>
                                                            <button type="button" class="btn btn-primary w-100" onclick="SearchData();"> <i class="ri-equalizer-fill me-2 align-bottom"></i>Filters</button>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive table-card mb-1">
                                            <table class="table align-middle" id="customerTable">
                                                <thead class="table-light text-muted">
                                                    <tr>
                                                        <th scope="col" style="width: 50px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                        <!-- <th class="sort" data-sort="id">id</th> -->
                                                        <th class="sort" data-sort="coupon_name">Coupon Name</th>
                                                        <th class="sort" data-sort="coupon_value">Coupon Value</th>
                                                        <th class="sort" data-sort="expiry_date">Expiry Date</th>
                                                        <th class="sort" data-sort="max_value">Max Value</th>
                                                        <th class="sort" data-sort="min_value">Min Value</th>
                                                        <th class="sort" data-sort="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all">
                                                    <% coupons.forEach((coupon) => { %>
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                                </div>
                                                            </th>
                                                            <td class="coupon_name"><%= coupon.couponName %></td>
                                                            <td class="coupon_value"><%= coupon.couponValue %></td>
                                                            <td class="expiry_date"><%= coupon.expiryDate %></td>
                                                            <td class="max_value"><%= coupon.maxValue %></td>
                                                            <td class="min_value"><%= coupon.minValue %></td>
                                                            <td>
                                                                <ul class="list-inline hstack gap-2 mb-0">
                                                                    <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                                        <a href="#editModal-<%= coupon._id %>" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                                            <i class="ri-pencil-fill fs-16"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                                        <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal" data-coupon-id="<%= coupon._id %>">
                                                                            <i class="ri-delete-bin-5-fill fs-16"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <div class="modal fade" id="editModal-<%= coupon._id %>" tabindex="-1" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header bg-light p-3">
                                                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                                                    </div>
                                                                    <form class="tablelist-form" method="post" action="/admin/editCoupon" autocomplete="off">
                                                                        <div class="modal-body">
                                                                            <input type="hidden" name="couponId" value="<%= coupon._id %>" id="couponId" />
                                
                                                                            <div class="mb-3" id="modal-id" style="display: none;">
                                                                                <label for="id-field1" class="form-label">ID</label>
                                                                                <input type="text" id="id-field1" class="form-control" placeholder="ID" readonly />
                                                                            </div>
                                
                                                                            <div class="mb-3">
                                                                                <label for="couponname-field" class="form-label">Coupon Name</label>
                                                                                <input type="text" id="couponname-field" name="couponName" class="form-control" value="<%= coupon.couponName %>" required />
                                                                                <div class="invalid-feedback">Please enter a coupon name.</div>
                                                                            </div>
                                
                                                                            <div class="mb-3">
                                                                                <label for="couponvalue-field" class="form-label">Coupon Value</label>
                                                                                <input type="text" id="couponvalue-field" name="couponValue" class="form-control" value="<%= coupon.couponValue %>" required />
                                                                                <div class="invalid-feedback">Please enter a coupon value.</div>
                                                                            </div>
                                
                                                                            
                                                                            <div class="mb-3">
                                                                                <label for="maxvalue-field" class="form-label">Max %</label>
                                                                                <input type="text" id="maxvalue-field" name="maxValue" class="form-control" value="<%= coupon.maxValue %>" required />
                                                                                <div class="invalid-feedback">Please enter a max value.</div>
                                                                            </div>
                                                                            
                                                                            <div class="mb-3">
                                                                                <label for="minvalue-field" class="form-label">Min Value</label>
                                                                                <input type="text" id="minvalue-field" name="minValue" class="form-control" value="<%= coupon.minValue %>" required />
                                                                                <div class="invalid-feedback">Please enter a min value.</div>
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="expirydate-field" class="form-label">Expiry Date</label>
                                                                                <input type="date" id="date-field" class="form-control" name="expiryDate" value="<%= coupon.expiryDate%>" data-provider="flatpickr" data-date-format="d m y" required />
                                                                                <div class="invalid-feedback">Please enter an expiry date.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <div class="hstack gap-2 justify-content-end">
                                                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                                                <button type="submit" class="btn btn-success" id="update-btn">Update Coupon</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% }); %>
                                                </tbody>
                                            </table>
                                            <% if (coupons.length === 0) { %>
                                                <div class="noresult">
                                                    <div class="text-center">
                                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                        <h5 class="mt-2">Sorry! No Coupons Found</h5>
                                                        <p class="text-muted mb-0">There are no coupons available.</p>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                    <div class="modal fade" id="showModal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-light p-3">
                                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                                </div>
                                                <form class="tablelist-form" method="post" action="/admin/addcoupon" autocomplete="off">
                                                    <div class="modal-body">
                                                        <input type="hidden" name="couponId" value="" id="couponId" />
            
                                                        <div class="mb-3" id="modal-id" style="display: none;">
                                                            <label for="id-field1" class="form-label">ID</label>
                                                            <input type="text" id="id-field1" class="form-control" placeholder="ID" readonly />
                                                        </div>
            
                                                        <div class="mb-3">
                                                            <label for="couponname-field" class="form-label">Coupon Name</label>
                                                            <input type="text" id="couponname-field" name="couponName" class="form-control" value="" required />
                                                            <div class="invalid-feedback">Please enter a coupon name.</div>
                                                        </div>
            
                                                        <div class="mb-3">
                                                            <label for="couponvalue-field" class="form-label">Coupon Value</label>
                                                            <input type="text" id="couponvalue-field" name="couponValue" class="form-control" value="" required />
                                                            <div class="invalid-feedback">Please enter a coupon value.</div>
                                                        </div>
            
                                                        
                                                        <div class="mb-3">
                                                            <label for="maxvalue-field" class="form-label">Max %</label>
                                                            <input type="text" id="maxvalue-field" name="maxValue" class="form-control" value="" required />
                                                            <div class="invalid-feedback">Please enter a max value.</div>
                                                        </div>
                                                        
                                                        <div class="mb-3">
                                                            <label for="minvalue-field" class="form-label">Min Value</label>
                                                            <input type="text" id="minvalue-field" name="minValue" class="form-control" value="" required />
                                                            <div class="invalid-feedback">Please enter a min value.</div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="expirydate-field" class="form-label">Expiry Date</label>
                                                            <input type="date" id="date-field" class="form-control" name="expiryDate" value="" data-provider="flatpickr" data-date-format="d m y" required placeholder="Select date" />
                                                            <div class="invalid-feedback">Please enter an expiry date.</div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="hstack gap-2 justify-content-end">
                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-success" id="update-btn">Add Coupon</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    
<!-- Modal -->
<div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you sure?</h4>
                        <p class="text-muted mx-4 mb-0">Are you sure you want to remove this record?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn w-sm btn-danger" id="delete-record">Yes, Delete It!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal -->
                                </div>
                            </div>

                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <script>

$(document).ready(function() {
        $(document).on('click', '.delete-bin', function() {
            var couponId = $(this).data('coupon-id');
            console.log(couponId);
            $('#couponId').val(couponId);
            $('#deleteRecordModal').modal('show');
        });

        $(document).on('click', '#delete-record', function() {
            var couponId = $('#couponId').val();
            $.ajax({
                url: '/admin/deleteCoupon',
                method: 'POST',
                data: { couponId: couponId },
                success: function(response) {
                    console.log('Coupon deleted successfully');
                    window.location.href = '/admin/coupons';
                },
                error: function(error) {
                    console.error('Error deleting coupon', error);
                }
            });
        });
    });
            </script>

            <%-include("../layout/adminFooter.ejs")%>